AddIPOTargetFlow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_BofATeamMember10</name>
        <label>assign BofATeamMember10</label>
        <locationX>248</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>BofATeamMember10IPO.Associate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookupAssociateIPOTM3.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember10IPO.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoleIPOTM3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember10IPO.IPOTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember10IPO.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BofA Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_BofATeamMember11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BofATeamMember11</name>
        <label>assign BofATeamMember11</label>
        <locationX>248</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>BofATeamMember11IPO.Associate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookupAssociateIPOTM4.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember11IPO.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoleIPOTM4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember11IPO.IPOTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember11IPO.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BofA Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_BofATeamMember12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BofATeamMember12</name>
        <label>assign BofATeamMember12</label>
        <locationX>248</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>BofATeamMember12IPO.Associate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookupAssociateIPOTM5.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember12IPO.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoleIPOTM5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember12IPO.IPOTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember12IPO.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BofA Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_createBofaIPOTeamRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BofATeamMember6</name>
        <label>assign BofATeamMember6</label>
        <locationX>248</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>BofATeamMember6IPO.Associate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bofa_Assocaie6.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember6IPO.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember6IPO.IPOTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember6IPO.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BofA Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember6IPO.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SponsorEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_assign_BofATeamMember7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BofATeamMember8</name>
        <label>assign BofATeamMember8</label>
        <locationX>248</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>BofATeamMember8IPO.Associate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bofa_Associate7.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember8IPO.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember8IPO.IPOTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember8IPO.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BofA Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember8IPO.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IPOEntityCTMAssociateIdIBSponsorEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_BofATeamMember9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BofATeamMember9</name>
        <label>assign BofATeamMember9</label>
        <locationX>248</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>BofATeamMember9IPO.Associate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookupAssociateIPOTM2.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember9IPO.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoleIPOTM2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember9IPO.IPOTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember9IPO.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BofA Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_BofATeamMember10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ECM_Role_Associate</name>
        <label>Assign ECM Role &amp; Associate</label>
        <locationX>204</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>IPOEntityCTMRoleECM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ECMBanker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateECM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateIdECM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessedAssociateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientEntityAssociates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_CTM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IB_Role_Associate</name>
        <label>Assign IB Role &amp; Associate</label>
        <locationX>1260</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>IPOEntityCTMRoleIBSponsor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSGBanker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateIBSponsor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateIdIBSponsor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateIdIBSponsorEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_CTM.Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessedAssociateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientEntityAssociates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_CTM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IBKRM_Role_Associate</name>
        <label>Assign IBKRM Role &amp; Associate</label>
        <locationX>732</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>IPOEntityCTMRoleIBKRMSponsor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSGBanker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateIBKRMSponsor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateIdIBKRMSponsor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SponsorEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_CTM.Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessedAssociateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientEntityAssociates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_CTM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_IB</name>
        <label>Assign Role IB</label>
        <locationX>468</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>IPOEntityCTMRoleIBKRM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvestmentBanker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateIBKRM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateIdIBKRM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessedAssociateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientEntityAssociates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_CTM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_IB1</name>
        <label>Assign Role IB</label>
        <locationX>996</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>IPOEntityCTMRoleIB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvestmentBanker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateIB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateIdIB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessedAssociateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientEntityAssociates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_CTM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Save_Next_Button_Text</name>
        <label>Assign Save Next Button Text</label>
        <locationX>116</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>buttonLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Save &amp; Next</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buttonPosition</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>right</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamButtonLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTeamMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Team_Members</name>
        <label>Assign Team Members</label>
        <locationX>534</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>TeamMembersVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Party.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamMembersVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Party</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignBofATeamMember1</name>
        <label>assign BofATeamMember1</label>
        <locationX>248</locationX>
        <locationY>2042</locationY>
        <assignmentItems>
            <assignToReference>BofATeamMember1IPO.Associate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BofA_Associate1.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember1IPO.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember1IPO.IPOTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember1IPO.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BofA Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember1IPO.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.ClientName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignBofATeamMember2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignBofATeamMember2</name>
        <label>assign BofATeamMember2</label>
        <locationX>248</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>BofATeamMember2IPO.Associate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BofA_Associate2.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember2IPO.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember2IPO.IPOTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember2IPO.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BofA Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember2IPO.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.ClientName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignBofATeamMember3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignBofATeamMember3</name>
        <label>assign BofATeamMember3</label>
        <locationX>248</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>BofATeamMember3IPO.Associate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BofA_Associate3.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember3IPO.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember3IPO.IPOTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember3IPO.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BofA Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember3IPO.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.ClientName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_BofATeamMember6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBothTeamaandsponsor</name>
        <label>AssignBothTeamaandsponsor</label>
        <locationX>446</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>CreateTeammembersandSponsors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_validPORecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRelatedTeamMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Save_Next_Button_Text</name>
        <label>Assignment - Save Button Text</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>buttonLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Save</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buttonPosition</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>right</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamButtonLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DirectlyCalled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IPO_Add_Party_TM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_IPORecords</name>
        <label>assign IPOTeamRecords</label>
        <locationX>248</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>createBofaIPORecordsTeammembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BofATeamMember2IPO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createBofaIPORecordsTeammembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BofATeamMember7IPO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createBofaIPORecordsTeammembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BofATeamMember1IPO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createBofaIPORecordsTeammembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BofATeamMember3IPO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createBofaIPORecordsTeammembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BofATeamMember6IPO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createBofaIPORecordsTeammembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BofATeamMember8IPO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createBofaIPORecordsTeammembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BofATeamMember9IPO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createBofaIPORecordsTeammembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BofATeamMember10IPO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createBofaIPORecordsTeammembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BofATeamMember11IPO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createBofaIPORecordsTeammembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BofATeamMember12IPO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_validPORecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_Initialize_invalidIPORecords</name>
        <label>Assignment - Initialize invalidIPOTeamRecords</label>
        <locationX>248</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_invalidIPORecords</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_invalidIPORecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_No_IPO_Error_Message</name>
        <label>Assignment - No IPO Error Message</label>
        <locationX>50</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessageTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RoleEntityCannotBeBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>IPO_Add_Party_TM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_invalidIPORecordsAssignment</name>
        <label>invalidIPORecordsAssignment</label>
        <locationX>248</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>InvalidIPOTeamRecordsCountNew</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Copy_1_of_invalidIPORecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_CheckIfAllIPORecordsCreated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_BofATeamMember7</name>
        <label>assign BofATeamMember7</label>
        <locationX>248</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>BofATeamMember7IPO.Associate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookupAssociateIPOTM1.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember7IPO.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoleIPOTM1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember7IPO.IPOTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BofATeamMember7IPO.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BofA Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_BofATeamMember8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentBofaTeamMember</name>
        <label>Current BofaTeamMemberName</label>
        <locationX>468</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CurrentBofaTeamMemberName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Associate.Associate__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Associate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InActiveBofaTeamMember</name>
        <label>InActive BofaTeamMember</label>
        <locationX>204</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>InActiveBofaTeamMemberName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Associate.Associate__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Associate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_createBofaIPOTeamRecords</name>
        <label>Initialize createBofaIPOTeamRecords</label>
        <locationX>248</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>createBofaIPORecordsTeammembers</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_assign_IPORecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Process_PE_Other_Associate</name>
        <label>Process PE Other Associate</label>
        <locationX>248</locationX>
        <locationY>1924</locationY>
        <assignmentItems>
            <assignToReference>ProcessedAssociateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_PE_Other_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PEOtherAssociates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_PE_Other_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PE_Other_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Process_PE_Primary_Associate</name>
        <label>Process PE Primary Associate</label>
        <locationX>248</locationX>
        <locationY>1708</locationY>
        <assignmentItems>
            <assignToReference>ProcessedAssociateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_PE_Primary_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PEPrimaryAssociates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_PE_Primary_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PE_Primary_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Team_Members_Duplicate_Error</name>
        <label>Team Members Duplicate Error</label>
        <locationX>314</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>var_DuplicateTeamErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.TeamMemberDuplicateError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PE_Primary_Team_Member</name>
        <label>Add PE Primary Team Member</label>
        <locationX>248</locationX>
        <locationY>1924</locationY>
        <assignmentItems>
            <assignToReference>ProcessedAssociateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_PE_Primary_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMRolePEPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PE_Primary_CTM.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociatePEPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PE_Primary_CTM.Associate__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateIdPEPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PE_Primary_CTM.Associate__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_PE_Primary_CTM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PE_Other_Team_Member</name>
        <label>Add PE Other Team Member</label>
        <locationX>248</locationX>
        <locationY>2140</locationY>
        <assignmentItems>
            <assignToReference>ProcessedAssociateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_PE_Other_CTM.Associate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMRolePEOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PE_Other_CTM.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociatePEOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PE_Other_CTM.Associate__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IPOEntityCTMAssociateIdPEOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_PE_Other_CTM.Associate__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_PE_Other_CTM</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ECMBanker</name>
        <choiceText>ECM Banker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ECM Banker</stringValue>
        </value>
    </choices>
    <choices>
        <name>FamilyOffice</name>
        <choiceText>Family Office</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Family Office</stringValue>
        </value>
    </choices>
    <choices>
        <description>FSG Banker</description>
        <name>FSGBanker</name>
        <choiceText>FSG Banker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FSG Banker</stringValue>
        </value>
    </choices>
    <choices>
        <name>InvestmentBanker</name>
        <choiceText>Investment Banker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Investment Banker</stringValue>
        </value>
    </choices>
    <choices>
        <description>Other ECM</description>
        <name>OtherECM</name>
        <choiceText>Other ECM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other ECM</stringValue>
        </value>
    </choices>
    <choices>
        <description>Other FSG</description>
        <name>OtherFSG</name>
        <choiceText>Other FSG</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other FSG</stringValue>
        </value>
    </choices>
    <choices>
        <description>Other IBK</description>
        <name>OtherIBK</name>
        <choiceText>Other IBK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other IBK</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherOwner</name>
        <choiceText>Other Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>PrivateEquityOther</name>
        <choiceText>Private Equity (Other)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private Equity Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>PrivateEquityPrimary</name>
        <choiceText>Private Equity (Primary)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private Equity Primary</stringValue>
        </value>
    </choices>
    <choices>
        <name>SeniorSponsor</name>
        <choiceText>Senior Sponsor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Senior Sponsor</stringValue>
        </value>
    </choices>
    <choices>
        <name>VentureCapital</name>
        <choiceText>Venture Capital</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Venture Capital</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Copy_1_of_invalidIPORecords</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>invalidIPOTeamRecords</label>
        <locationX>248</locationX>
        <locationY>3554</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_invalidIPORecords</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>createBofaIPORecordsTeammembers</collectionReference>
        <conditionLogic>(1 AND 4 AND 5) OR (3 AND 2 AND 5)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_invalidIPORecords.Role__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_invalidIPORecords.Associate__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_invalidIPORecords.Role__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_invalidIPORecords.Associate__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_invalidIPORecords.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>BofA Team</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_invalidIPORecordsAssignment</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Copy_1_of_validPORecords</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>validPOTeamRecords</label>
        <locationX>248</locationX>
        <locationY>3338</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_validPORecords</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>createBofaIPORecordsTeammembers</collectionReference>
        <conditionLogic>1 AND 2</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_validPORecords.Role__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_validPORecords.Associate__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_Assignment_Initialize_invalidIPORecords</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Active_Team_Members</name>
        <label>Check Active Team Members</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>CurrentBofaTeamMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Current Team Member</defaultConnectorLabel>
        <rules>
            <name>InActive_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Associate.Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InActiveBofaTeamMember</targetReference>
            </connector>
            <label>InActive Team Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Associate_Already_Processed_Other</name>
        <label>Check If Associate Already Processed (Other)</label>
        <locationX>116</locationX>
        <locationY>1816</locationY>
        <defaultConnector>
            <targetReference>Process_PE_Other_Associate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Processed - Add Them</defaultConnectorLabel>
        <rules>
            <name>Already_Processed_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessedAssociateIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_on_PE_Other_CTM.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_PE_Other_CTM</targetReference>
            </connector>
            <label>Already Processed - Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Associate_Already_Processed_Primary</name>
        <label>Check If Associate Already Processed (Primary)</label>
        <locationX>116</locationX>
        <locationY>1600</locationY>
        <defaultConnector>
            <targetReference>Process_PE_Primary_Associate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Processed - Add Them</defaultConnectorLabel>
        <rules>
            <name>Already_Processed_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessedAssociateIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_on_PE_Primary_CTM.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_PE_Primary_CTM</targetReference>
            </connector>
            <label>Already Processed - Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IPO_Entity</name>
        <label>Check IPO Entity</label>
        <locationX>600</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Assign_IBKRM_Role_Associate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IPOEntity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_CTM.Entity__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getCurrentRecord.ClientName__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Role_IB</targetReference>
            </connector>
            <label>IPO Entity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IPO_Entity1</name>
        <label>Check IPO Entity</label>
        <locationX>1128</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Assign_IB_Role_Associate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IPO_Entity1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_CTM.Entity__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getCurrentRecord.ClientName__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Role_IB1</targetReference>
            </connector>
            <label>IPO Entity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PE_Other_Roles</name>
        <label>Check PE Other Roles</label>
        <locationX>248</locationX>
        <locationY>2032</locationY>
        <defaultConnector>
            <targetReference>Add_PE_Other_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PE_Other_ECM_Banker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_PE_Other_CTM.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PE_Other_Team_Member</targetReference>
            </connector>
            <label>PE Other ECM Banker</label>
        </rules>
        <rules>
            <name>PE_Other_IB_Banker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_PE_Other_CTM.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PE_Other_Team_Member</targetReference>
            </connector>
            <label>PE Other IB Banker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PE_Primary_Roles</name>
        <label>Check PE Primary Roles</label>
        <locationX>248</locationX>
        <locationY>1816</locationY>
        <defaultConnector>
            <targetReference>Add_PE_Primary_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PE_Primary_ECM_Banker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_PE_Primary_CTM.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PE_Primary_Team_Member</targetReference>
            </connector>
            <label>PE Primary ECM Banker</label>
        </rules>
        <rules>
            <name>PE_Primary_IB_Banker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_PE_Primary_CTM.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PE_Primary_Team_Member</targetReference>
            </connector>
            <label>PE Primary IB Banker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Roles</name>
        <label>Check Roles</label>
        <locationX>864</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Loop_on_CTM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ECM_Banker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_CTM.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ECM_Role_Associate</targetReference>
            </connector>
            <label>ECM Banker</label>
        </rules>
        <rules>
            <name>IBK_Relationship_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_CTM.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IPO_Entity</targetReference>
            </connector>
            <label>IBK Relationship Manager</label>
        </rules>
        <rules>
            <name>IBKJointRelationshipManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_CTM.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IPO_Entity1</targetReference>
            </connector>
            <label>IBK Joint Relationship Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForSubFlowCondition</name>
        <label>checkForSubFlowCondition</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assignment_Save_Next_Button_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Directly Called</defaultConnectorLabel>
        <rules>
            <name>Called_From_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calledFromParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Save_Next_Button_Text</targetReference>
            </connector>
            <label>Called From Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_CheckIfAllIPORecordsCreated</name>
        <label>CheckIfAllIPOTeamRecordsCreated</label>
        <locationX>248</locationX>
        <locationY>3770</locationY>
        <defaultConnector>
            <targetReference>AssignBothTeamaandsponsor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_IPORecordsNotCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvalidIPOTeamRecordsCountNew</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assignment_No_IPO_Error_Message</targetReference>
            </connector>
            <label>IPOTeamRecordsNotCreated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_or_not</name>
        <label>Check if team members Exist or Not</label>
        <locationX>446</locationX>
        <locationY>4394</locationY>
        <defaultConnector>
            <targetReference>createIPORecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_member_Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TeamMembersVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BofATeamMember2IPO.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamMembersVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BofATeamMember1IPO.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamMembersVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BofATeamMember3IPO.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamMembersVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BofATeamMember4IPO.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamMembersVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BofATeamMember5IPO.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamMembersVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BofATeamMember6IPO.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamMembersVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BofATeamMember7IPO.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamMembersVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BofATeamMember8IPO.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamMembersVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BofATeamMember9IPO.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamMembersVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BofATeamMember10IPO.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamMembersVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BofATeamMember11IPO.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamMembersVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BofATeamMember12IPO.Associate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Members_Duplicate_Error</targetReference>
            </connector>
            <label>Team member Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>getLabelFromError</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Flow.FaultMessage},{!$Label.ClientInitiativePartyDuplicateOwnerErrorMessage}),{!$Label.ClientInitiativePartyDuplicateOwnerErrorMessage}, &quot;An unmanaged error occurred. Please contact your Administrator and try again&quot;)</expression>
    </formulas>
    <interviewLabel>Add IPO Target Party {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add IPO Target Party</label>
    <loops>
        <name>Loop_On_Associate</name>
        <label>Loop On Associate</label>
        <locationX>116</locationX>
        <locationY>566</locationY>
        <collectionReference>getTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Active_Team_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CTM_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_CTM</name>
        <label>Loop on CTM</label>
        <locationX>116</locationX>
        <locationY>1166</locationY>
        <collectionReference>Get_CTM_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_PE_Primary_CTM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Party</name>
        <label>Loop on IPO Target Party</label>
        <locationX>446</locationX>
        <locationY>4094</locationY>
        <collectionReference>GetRelatedTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Team_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Exist_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_PE_Other_CTM</name>
        <label>Loop on PE Other CTM</label>
        <locationX>116</locationX>
        <locationY>1708</locationY>
        <collectionReference>Get_PE_Other_CTM_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Associate_Already_Processed_Other</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IPO_Add_Party_TM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_PE_Primary_CTM</name>
        <label>Loop on PE Primary CTM</label>
        <locationX>116</locationX>
        <locationY>1492</locationY>
        <collectionReference>Get_PE_Primary_CTM_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Associate_Already_Processed_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_PE_Other_CTM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createIPORecords</name>
        <label>createIPORecords</label>
        <locationX>578</locationX>
        <locationY>4502</locationY>
        <faultConnector>
            <targetReference>RollBackWhenError</targetReference>
        </faultConnector>
        <inputReference>CreateTeammembersandSponsors</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CTM_Records</name>
        <label>Get CTM Records</label>
        <locationX>116</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_CTM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentRecord.ClientName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CoverageTeamMember__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PE_Other_CTM_Records</name>
        <label>Get PE Other CTM Records</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentRecord.PrivateEquityOther__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CoverageTeamMember__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PE_Primary_CTM_Records</name>
        <label>Get PE Primary CTM Records</label>
        <locationX>248</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentRecord.PrivateEquityPrimary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CoverageTeamMember__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get Current IPO Target ID</description>
        <name>getCurrentRecord</name>
        <label>getCurrentRecord</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkForSubFlowCondition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IPO_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedTeamMembers</name>
        <label>Get Related Team Members</label>
        <locationX>446</locationX>
        <locationY>3986</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Party</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BofA Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>IPOTarget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IPOTargetParty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTeamMembers</name>
        <label>getTeamMembers</label>
        <locationX>116</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Associate</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>IPOTarget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ECM Banker</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Investment Banker</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Senior Sponsor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other ECM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other IBK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other FSG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSG Banker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IPOTargetParty__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Associate__c</queriedFields>
        <queriedFields>Inactive__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>RollBackWhenError</name>
        <label>Roll back when error</label>
        <locationX>842</locationX>
        <locationY>4610</locationY>
        <connector>
            <targetReference>showErrorForRecordCreation</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>4610</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 16, 16);&quot;&gt;{!var_DuplicateTeamErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>New IPO team member screen</description>
        <name>IPO_Add_Party_TM</name>
        <label>IPO Add Party TM</label>
        <locationX>248</locationX>
        <locationY>2140</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignBofATeamMember1</targetReference>
        </connector>
        <fields>
            <name>IPO_Add_Party_TM_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>IPO_Add_Party_TM_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>IPO_Add_Party_TM_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IPOAddTM</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Add Team Members&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>IPO_Add_Party_TM_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>calledFromParent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IPOTeam_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 13, 13);&quot;&gt;{!var_ErrorMessageTeam}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayBofATeamIPOTM</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;BOFA TEAM&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IPO_Add_Party_TM_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>IPO_Add_Party_TM_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Role1</name>
                    <choiceReferences>ECMBanker</choiceReferences>
                    <choiceReferences>InvestmentBanker</choiceReferences>
                    <choiceReferences>FSGBanker</choiceReferences>
                    <choiceReferences>SeniorSponsor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>IPOEntityCTMRoleECM</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMRoleECM</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Role3</name>
                    <choiceReferences>ECMBanker</choiceReferences>
                    <choiceReferences>InvestmentBanker</choiceReferences>
                    <choiceReferences>FSGBanker</choiceReferences>
                    <choiceReferences>SeniorSponsor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>IPOEntityCTMRoleIB</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMRoleIB</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Role2</name>
                    <choiceReferences>ECMBanker</choiceReferences>
                    <choiceReferences>InvestmentBanker</choiceReferences>
                    <choiceReferences>FSGBanker</choiceReferences>
                    <choiceReferences>SeniorSponsor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>IPOEntityCTMRoleIBKRM</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMRoleIBKRM</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Role4</name>
                    <choiceReferences>ECMBanker</choiceReferences>
                    <choiceReferences>InvestmentBanker</choiceReferences>
                    <choiceReferences>FSGBanker</choiceReferences>
                    <choiceReferences>SeniorSponsor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>IPOEntityCTMRoleSB</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMRoleSB</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Role5</name>
                    <choiceReferences>ECMBanker</choiceReferences>
                    <choiceReferences>InvestmentBanker</choiceReferences>
                    <choiceReferences>FSGBanker</choiceReferences>
                    <choiceReferences>SeniorSponsor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>IPOEntityCTMRoleFSB</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMRoleFSB</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Role6</name>
                    <choiceReferences>ECMBanker</choiceReferences>
                    <choiceReferences>InvestmentBanker</choiceReferences>
                    <choiceReferences>FSGBanker</choiceReferences>
                    <choiceReferences>SeniorSponsor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>IPOEntityCTMRoleIBKRMSponsor</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMRoleIBKRMSponsor</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Role7</name>
                    <choiceReferences>ECMBanker</choiceReferences>
                    <choiceReferences>InvestmentBanker</choiceReferences>
                    <choiceReferences>FSGBanker</choiceReferences>
                    <choiceReferences>SeniorSponsor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>IPOEntityCTMRoleIBSponsor</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMRoleIBSponsor</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>IPO_Add_Party_TM_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BofA_Associate1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BofA Associate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IPOTargetParty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>IPOEntityCTMAssociateIdECM</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMAssociateIdECM</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BofA_Associate3</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BofA Associate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IPOTargetParty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>IPOEntityCTMAssociateIdIB</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMAssociateIdIB</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BofA_Associate2</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BofA Associate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>IPOEntityCTMAssociateIdIBKRM</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IPOTargetParty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMAssociateIdIBKRM</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BofAAssociate4</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IPOTargetParty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BofA Associate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>IPOEntityCTMAssociateIdSB</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMAssociateIdSB</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Bofa_Associate5</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IPOTargetParty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BofA Associate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>IPOEntityCTMAssociateIdFSG</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMAssociateIdFSG</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Bofa_Assocaie6</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IPOTargetParty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BofA Associate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>IPOEntityCTMAssociateIdIBKRMSponsor</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMAssociateIdIBKRMSponsor</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Bofa_Associate7</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IPOTargetParty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BofA Associate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>IPOEntityCTMAssociateIdIBSponsor</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IPOEntityCTMAssociateIdIBSponsor</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>DirectlyCalled</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>IPO_Add_Party_TM_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>IPO_Add_Party_TM_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RoleIPOTM1</name>
                    <choiceReferences>SeniorSponsor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>RoleIPOTM1</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>RoleIPOTM2</name>
                    <choiceReferences>SeniorSponsor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>RoleIPOTM2</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>RoleIPOTM3</name>
                    <choiceReferences>SeniorSponsor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>RoleIPOTM3</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>RoleIPOTM4</name>
                    <choiceReferences>SeniorSponsor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>RoleIPOTM4</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>RoleIPOTM5</name>
                    <choiceReferences>SeniorSponsor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>RoleIPOTM5</elementReference>
                    </defaultValue>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>IPO_Add_Party_TM_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lookupAssociateIPOTM1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BofA Associate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IPOTargetParty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>lookupAssociateIPOTM1.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>lookupAssociateIPOTM2</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BofA Associate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IPOTargetParty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>lookupAssociateIPOTM2.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>lookupAssociateIPOTM3</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BofA Associate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IPOTargetParty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>lookupAssociateIPOTM3.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>lookupAssociateIPOTM4</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BofA Associate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IPOTargetParty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>lookupAssociateIPOTM4.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>lookupAssociateIPOTM5</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Associate__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BofA Associate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IPOTargetParty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>lookupAssociateIPOTM5.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>IPOSaveNextButtonTM</name>
            <extensionName>c:flowButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelString</name>
                <value>
                    <elementReference>TeamButtonLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonColourString</name>
                <value>
                    <stringValue>blue,blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <elementReference>buttonPosition</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showErrorForRecordCreation</name>
        <label>show error for record creation</label>
        <locationX>842</locationX>
        <locationY>4718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(234, 51, 23);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allIPORecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>BofADecisionMaker1IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountInitiativeParty__c</objectType>
    </variables>
    <variables>
        <name>BofADecisionMaker2IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountInitiativeParty__c</objectType>
    </variables>
    <variables>
        <name>BofASponsor1IPONew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofASponsor2IPONew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofASponsor3IPONew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofASponsor4IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofASponsor5IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofASponsor6IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofASponsor7IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofATeamMember10IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofATeamMember11IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofATeamMember12IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofATeamMember1IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofATeamMember2IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofATeamMember3IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofATeamMember4IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofATeamMember5IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofATeamMember6IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofATeamMember7IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofATeamMember8IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>BofATeamMember9IPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>buttonLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buttonPosition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>calledFromParent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ClientEntityAssociates</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientEntityTeamMembers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createBofaIPORecordsNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>createBofaIPORecordsTeammembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>createBofaIPORecordsTeammembersbypassvalidation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>createdIPORecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CreateTeammembersandSponsors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>CurrentBofaTeamMemberName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Copy_1_of_invalidIPORecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Copy_1_of_validPORecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IPOTargetParty__c</objectType>
    </variables>
    <variables>
        <name>currentItem_invalidIPORecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountInitiativeParty__c</objectType>
    </variables>
    <variables>
        <name>CurrentSponsorsName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DirectlyCalled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InActiveBofaTeamMemberName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InActiveSponsorsName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvalidIPORecordsCountNew</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InvalidIPOTeamRecordsCountNew</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateECM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateFSG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIBKRM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIBKRMSponsor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIBSponsor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIdECM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIdFSG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIdFSGEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIdIB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIdIBKRM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIdIBKRMSponsor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIdIBSponsor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIdIBSponsorEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIdSB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateSB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMEnitytidIBSponsor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMEntityECM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMEntityIBKRM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMEntityidBKRMSponsor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMRoleECM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMRoleFSB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMRoleIB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMRoleIBKRM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMRoleIBKRMSponsor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMRoleIBSponsor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMRoleSB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMRolePEPrimary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociatePEPrimary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIdPEPrimary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMRolePEOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociatePEOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IPOEntityCTMAssociateIdPEOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PEPrimaryAssociates</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PEOtherAssociates</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessedAssociateIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SponsorEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamButtonLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamMembersVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DuplicateTeamErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ErrorMessageTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>